/A.class
/Apple.class
/ArrayClassObj.class
/ArrayInit.class
/ArrayNew.class
/ArraysOfPrimitives.class
/Book.class
/Bowl.class
/Burrito.class
/Cup.class
/Cupboard.class
/Cups.class
/Demotion.class
/DynamicArray.class
/ExplicitStatic.class
/Flower.class
/House.class
/Leaf.class
/Mug.class
/Mugs.class
/NewVarArgs.class
/OptionalTrailingArguments.class
/OrderOfInitialization.class
/Other.class
/Overloading.class
/OverloadingOrder.class
/OverloadingVarargs.class
/OverloadingVarargs2.class
/OverloadingVarargs3.class
/PassingThis.class
/Peeler.class
/Person.class
/PrimitiveOverloading.class
/Rock.class
/Rock2.class
/SimpleConstructor.class
/SimpleConstructor2.class
/SimpleEnumUse.class
/Spiciness.class
/StaticInitialization.class
/Table.class
/TerminationCondition.class
/Tree.class
/VarArgs.class
/VarargType.class
/Window.class
