/ActionCharacter.class
/Actor.class
/Adventure.class
/Apply.class
/Bread.class
/Cheese.class
/Circle.class
/Composing.class
/CovariantReturn.class
/Derived.class
/Downcase.class
/FieldAccess.class
/Glyph.class
/Grain.class
/HappyActor.class
/Hero.class
/Instruement.class
/Lettuce.class
/Lunch.class
/Meal.class
/Mill.class
/MoreUseful.class
/Music.class
/Note.class
/PolyConstructors.class
/PortableLunch.class
/PrivateOverride.class
/Processor.class
/RTTI.class
/RandomGenerator.class
/ReferenceCounting.class
/RoundGlyph.class
/SadActor.class
/Sandwich.class
/Shape.class
/Shapes.class
/Shared.class
/Splitter.class
/Square.class
/Stage.class
/StaticPolymorphism.class
/StaticSub.class
/StaticSuper.class
/Sub.class
/Super.class
/Transmogrify.class
/Triangle.class
/Upcase.class
/Useful.class
/Wheat.class
/WheatMill.class
/Wind.class
